<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= title %></title>
</head>
<body>
    <h1 class="error-h1">THIS PAGE DOES NOT EXIST</h1>
    <img src="https://th.bing.com/th/id/R.0600ccc4a4a7065ed1698b06f43cb199?rik=BUlDR1jr0%2f8Srg&riu=http%3a%2f%2f3.bp.blogspot.com%2f_trNXEJH1uDA%2fSwG8bpRxDFI%2fAAAAAAAABDc%2fbQo7q_cwxHo%2fs1600%2fstrike%2bthree.jpg&ehk=wgmKl0Cp%2bulbHXFpKHK1XM5Ew7qUoOijCWuZLjm5Rqc%3d&risl=&pid=ImgRaw&r=0" alt="Error Image" class="img-fluid">
    
</body>
</html>